[submodule "project/src/libs/sdl"]
	path = project/src/libs/sdl
	url = https://github.com/native-toolkit/sdl.git
[submodule "project/src/libs/openal"]
	path = project/src/libs/openal
	url = https://github.com/native-toolkit/openal.git
[submodule "project/src/libs/openal-android"]
	path = project/src/libs/openal-android
	url = https://github.com/native-toolkit/openal-android.git
[submodule "project/src/libs/vorbis"]
	path = project/src/libs/vorbis
	url = https://github.com/native-toolkit/vorbis.git
[submodule "project/src/libs/ogg"]
	path = project/src/libs/ogg
	url = https://github.com/native-toolkit/ogg.git
[submodule "project/src/libs/stb_image"]
	path = project/src/libs/stb_image
	url = https://github.com/native-toolkit/stb_image.git
[submodule "project/src/libs/glew"]
	path = project/src/libs/glew
	url = https://github.com/native-toolkit/glew.git
[submodule "project/src/libs/theora"]
	path = project/src/libs/theora
	url = https://github.com/native-toolkit/theora.git
