[submodule "project/src/libs/theora"]
	path = project/src/libs/theora
	url = git@github.com:native-toolkit/theora.git
[submodule "project/src/libs/lzma"]
	path = project/src/libs/lzma
	url = git@github.com:native-toolkit/lzma.git
[submodule "project/src/libs/glew"]
	path = project/src/libs/glew
	url = git@github.com:native-toolkit/glew.git
[submodule "project/src/libs/stb_image"]
	path = project/src/libs/stb_image
	url = git@github.com:native-toolkit/stb_image.git
[submodule "project/src/libs/ogg"]
	path = project/src/libs/ogg
	url = git@github.com:native-toolkit/ogg.git
